<div class="container contact" ng-controller="ContactCtrl">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="message" ng-show="message" ng-bind="message"></div>
            <div class="errors" ng-show="errors" ng-bind="error" ng-repeat="error in errors"></div>

            <p translate="U can leave mes" class="title"></p>

            <form role="form" ng-submit="sendMessage()">
                <div class="form-group">
                    <input type="text" class="form-control transparent" placeholder="{{ 'Your name' | translate }}"
                           required ng-model="formData.ContactForm.name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control transparent" placeholder="{{ 'Your email' | translate }}"
                           required ng-model="formData.ContactForm.email">
                </div>
                <div class="form-group">
                    <textarea rows="4" class="form-control transparent" placeholder="{{ 'Message' | translate }}"
                              required ng-model="formData.ContactForm.message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-white" translate="Send"></button>
                </div>
            </form>
        </div>
        <div class="col-md-5 col-md-offset-1 social">
            <p translate="Or use contacts" class="title"></p>
            <div class="icons">
                <p>
                    <span class="skype"></span>
                    <a href="skype:cyberton11?chat">cyberton11</a>
                </p>
                <p>
                    <span class="mail"></span>
                    <a href="mailto:cyberton@mail.ru">cyberton@mail.ru</a>
                </p>
                <p>
                    <span class="vk"></span>
                    <a href="https://vk.com/cyclone_drummer" target="_blank">cyclone_drummer</a>
                </p>
                <p>
                    <span class="vk"></span>
                    <a href="https://vk.com/cyclone_music_space" target="_blank">cyclone_music_space</a>
                </p>
                <p>
                    <span class="cloud"></span>
                    <a href="https://soundcloud.com/tony-cyclonez" target="_blank">tony-cyclonez</a>
                </p>
            </div>
        </div>
    </div>
    <br><br>
    <!--<div class="col-md-12">
        <p class="col-md-12" translate="Contact footer part 1"></p>
        <p class="col-md-12" translate="Contact footer part 2"></p>
    </div>-->
</div>

<style>
    .wrap {
        background-image: url('/img/cyclone-contacts.png');
    }
</style>