<div class="container contact" ng-controller="ContactCtrl">
    <div class="row">
        <div class="col-md-6">
            <div class="message" ng-show="message" ng-bind="message"></div>
            <div class="errors" ng-show="errors" ng-bind="error" ng-repeat="error in errors"></div>

            <p translate="U can leave mes" class="title"></p>

            <form role="form" ng-submit="sendMessage()">
                <div class="form-group">
                    <input type="text" class="form-control transparent" placeholder="{{ 'Your name' | translate }}"
                           required ng-model="formData.ContactForm.name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control transparent" placeholder="{{ 'Your email' | translate }}"
                           required ng-model="formData.ContactForm.email">
                </div>
                <div class="form-group">
                    <textarea rows="4" class="form-control transparent" placeholder="{{ 'Message' | translate }}"
                              required ng-model="formData.ContactForm.message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-white" translate="Send"></button>
                </div>
            </form>
        </div>
        <div class="col-md-5 col-md-offset-1 social nopadding-left">
            <p translate="Or use contacts" class="title"></p>
            <div class="icons">
                <p><span class="skype"></span> cyberton11</p>
                <p><span class="mail"></span>info@cyclone-music-space.ru</p>
                <p><span class="fb"></span>anton.brezhnev.58</p>
                <p><span class="vk"></span>cyclone_music_space</p>
                <p><span class="cloud"></span>tony-cyclonez</p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <p class="col-md-12">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies
            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
            dictum
            felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
            vulputate
            eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
            dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
            rutrum.
            Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
            rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
            neque
            sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
            tincidunt
            tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros
            faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
            consequat,
            leo eget bibendum sodales, augue velit cursus nunc,</p>

    </div>
</div>

<style>
    .wrap {
        background-image: url('/img/cyclone-contacts.png');
        background-attachment: fixed;
        background-position: center;
    }
</style>