<div class="container faq">
    <dl>
        <dt>1. Как проходит работа в общем?</dt>
        <dd>
            Обычно работа проходит в 4 этапа -  описание задачи, предоплата, работа, финальная оплата, результат.
        </dd>
        <dt>2. Как вы работаете именно над задачей?</dt>
        <dd>
            В процессе работы мы показываем Вам наработки и корректируем промежуточные результаты в соответствии с Вашими пожеланиями. Как правило мы не обговариваем количество корректировок, но Вы должны понимать, что оно должно соответствовать бюджету.
        </dd>
        <dt>3. Каким способом я могу оплатить работу?</dt>
        <dd>
            Наиболее предпочтительный способ это перевод на карту Сбербанка.
            Также есть и альтернативные варианты:
            <ul>
                <li>Перевод через систему Contact. Преимущество данной системы в низких процентах за перевод и в скорости услуг. Отправить денежный перевод можно в любом пункте обслуживания без открытия счета.</li>
                <li>Western Union</li>
                <li>Money Gram</li>
                <li>Перевод через систему "Золотая Корона"</li>
                <li>Web-money</li>
                <li>Почтовый перевод. C тарифами на почтовый перевод можно ознакомиться на официальном сайте Почты России.</li>
             </ul>

            В случае если Вам не подходит ни один из перечисленных способов, просим связаться с нами для согласования других альтернативных вариантов.
        </dd>
        <dt>4. Я могу быть уверен, что ваша работа будет принадлежать только мне?</dt>
        <dd>
            Да, абсолютно. Мы не перепродаём наши работы, сделанные для определённых проектов. Эта музыка будет принадлежать только Вам.
        </dd>
    </dl>
</div>
<style>
    .wrap {
        background-image: url('/img/cyclone-FAQ.png');
        background-attachment: fixed;
        background-position: center;
    }
</style>