<div class="jumbotron">
    <div class="main-cover">
        <div class="container nopadding-right">
            <div class="col-md-6 col-md-offset-6 text-right nopadding-right">
                <h1 class="title text-uppercase">Cyclone<br/>music space</h1>
                <div class="main-description" translate="Main description"></div>
                <a class="btn btn-opacity" href="#/portfolio" translate="Leave request"></a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-4 main-feature">
            <div class="arrangement">
                <h4 class="text-uppercase text-bold" translate="Arrangement main"></h4>

                <p class="text" translate="Arrangement main description"></p>

                <p class="btn btn-more"><a href="#/portfolio">{{ 'More' | translate }} <b>></b></a></p>
            </div>
        </div>
        <div class="col-lg-4 main-feature">
            <div>
                <h4 class="text-uppercase text-bold" translate="Soundtracks main"></h4>

                <p class="text" translate="Soundtracks main description"></p>

                <p class="btn btn-more"><a href="#/portfolio">{{ 'More' | translate }} <b>></b></a></p>
            </div>
        </div>
        <div class="col-lg-4 main-feature">
            <div>
                <h4 class="text-uppercase text-bold" translate="Mastering main"></h4>

                <p class="text" translate="Mastering main description"></p>

                <p class="btn btn-more"><a href="#/portfolio">{{ 'More' | translate }} <b>></b></a></p>
            </div>
        </div>
    </div>

</div>