<div class="jumbotron">
    <div class="main-cover">
        <div class="container">
            <div class="col-md-6 col-md-offset-6 text-right">
                <h1 class="title">Cyclone music space</h1>
                <div class="" translate="Main description"></div>
                <a class="btn btn-default" href="#/portfolio" translate="Leave request"></a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-lg-4 main-feature">
            <div>
                <h2 translate="Arrangement main"></h2>

                <p translate="Arrangement main description"></p>

                <p><a class="btn btn-default" href="#/portfolio">{{ 'More' | translate }}&raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-4 main-feature">
            <div>
                <h2 translate="Soundtracks main"></h2>

                <p translate="Soundtracks main description"></p>

                <p><a class="btn btn-default" href="#/portfolio">{{ 'More' | translate }}&raquo;</a></p>
            </div>
        </div>
        <div class="col-lg-4 main-feature">
            <div>
                <h2 translate="Mastering main"></h2>

                <p translate="Mastering main description"></p>

                <p><a class="btn btn-default" href="#/portfolio">{{ 'More' | translate }}&raquo;</a></p>
            </div>
        </div>
    </div>

</div>