<div class="container">
    <br>
    <div ng-controller="PortfolioCtrl as $ctrl">
        <div ng-show="$ctrl.getTracks().length === 0" class="empty-portfolio">
            <span translate="Cant load portfolio"></span>&nbsp;
            <a href="http://soundcloud.com/tony-cyclonez" target="_blank">
                <iframe allowtransparency="true" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Ftony-cyclonez&color=white_transparent&size=32"
                        style="width: 32px; height: 32px;"></iframe>
                Soundcloud
            </a>!
        </div>
        <div class="col-md-6" ng-show="$ctrl.getTags().length > 0">
            <div class="portfolio scroll">
                <div ng-repeat="tag in $ctrl.getTags()" class="tag" ng-class="{'active': $ctrl.activeTag === tag.id}">
                    <span ng-click="$ctrl.showTracks(tag)">{{tag.name}}</span>
                </div>
            </div>
        </div>

        <div class="col-md-6" ng-show="$ctrl.getTracks().length > 0">
            <div class="portfolio scroll">
                <ng-player>
                    <div ng-repeat="track in $ctrl.getTracks()" ng-show="track.show">
                        <ng-track track="track.id"></ng-track>
                        <hr>
                    </div>
                </ng-player>
            </div>
        </div>
    </div>
    <!--<p class="portfolio_text" translate="Portfolio header"></p>-->
</div>

<style>
    .wrap {
        background-image: url('/img/cyclone-portfolio.png');
    }
</style>