<div class="row review-popup">
    <h4 translate="Leave a feedback" class="title text-uppercase text-center"></h4>
    <form role="form" ng-submit="sendReview()">
    <div class="col-md-7">
        <div class="message" ng-show="message" ng-bind="message"></div>
        <div class="errors" ng-show="errors" ng-bind="error" ng-repeat="error in errors"></div>


            <div class="form-group">
                <input type="text" class="form-control transparent" placeholder="{{ 'Your name' | translate }}"
                       required ng-model="formData.Reviews.author">
            </div>
            <div class="form-group">
                <input type="text" class="form-control transparent" placeholder="{{ 'Your company' | translate }}"
                       required ng-model="formData.Reviews.company">
            </div>
            <div class="form-group">
                    <textarea rows="4" class="form-control transparent" placeholder="{{ 'Your comment' | translate }}"
                              required ng-model="formData.Reviews.text"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-black" translate="Send"></button>
            </div>

    </div>
    <div class="col-md-5 text-center">
        <div flow-init="{target: '/reviews/upload'}"
             flow-name="uploader.flow"
             flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
             flow-file-success="uploader.setPhoto($file, $message)">
            <div class="form-group text-center" style="height: 160px">
                <img class="img-circle img-responsive avatar-preview" ng-hide="$flow.files.length"
                     src="img/noavatar.png"/>
                <img class="img-circle img-responsive avatar-preview" ng-show="$flow.files.length"
                     flow-img="$flow.files[0]"/>
            </div>
            <div>
                <button type="button" class="btn btn-link" ng-hide="$flow.files.length" flow-btn
                        flow-attrs="{accept:'image/*'}" translate="Upload image">
                </button>
                <button type="button" class="btn btn-link" ng-show="$flow.files.length" flow-btn
                        flow-attrs="{accept:'image/*'}" translate="Change image">
                </button>
                <button type="button" class="btn btn-link" ng-show="$flow.files.length"
                        ng-click="$flow.cancel(); uploader.setNoPhoto();" translate="Cancel image">
                </button>
            </div>
        </div>
        <div class="socials">
            <p class="here">Ваш профиль в соц сети</p>
            <p>
                <a href="#" class="facebook inactive"></a>
                <a href="#" class="google inactive"></a>
                <a href="#" class="vkontakte inactive"></a>
                <a href="#" class="instagram inactive"></a>
                <a href="#" class="twitter inactive"></a>
            </p>
        </div>
    </div>
    </form>
</div>